<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Backup de contatos importantes!</p>


      <div class="responsive-table">
        <table class="table my-2">
          <tr>
            <td>Ned</td>
            <td>Stark</td>
            <td>(21) 9 9999-9999</td>
            <td>nedstark@got.com</td>
            <td>23/11/1959</td>
          </tr>  
     
        </table>
      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer') %>

   